<h5>notice</h5>

<table>
  <tr>
    <th>COD</th>
    <th>Detalle</th>
    <th>Categoria</th>
    <th>Descuento</th>
    <th>Valor</th>
    <th>Impuesto</th>
    <th>Total</th>
  </tr>

<tr>
  <td><%= @sale.cod  %></td>
  <td><%= @sale.detail  %></td>
  <td><%= @sale.category   %></td>
  <td><%= @sale.discount  %></td>
  <td><%= @sale.value  %></td>
  <td><%= @sale.tax  %></td>
  <td><%= @sale.total  %></td>

</tr>


</table>


<%= link_to 'Volver', root_path %>
