<h1>FORMULARIO VENTA</h1>
<h2>Ingreso de Venta</h2>
<br>
<%= form_with model: @sale, local: true do |form| %>
 <%= form.label :detail %>
 <%= form.text_area :detail, id: :sale_detail %>
 <br>
 <br>
 <%= form.label :category %>
 <%= form.text_field :category, id: :sale_category %>
 <br>
 <br>
 <%= form.label :value %>
 <%= form.number_field :value, id: :sale_value %>
 <br>
 <br>
 <%= form.label :discount %>
 <%= form.number_field :discount, id: :sale_discount %>
 <br>
 <br>
 <%= form.label :tax, "Exento de Iva"%>
 <%= form.check_box :tax, id: :sale_tax %>
 <br>
 <br>
<br>
 <%= form.submit "Crear" %>
<% end %>
